.mode-toggle {
  border: 1px solid var(--gray-400);
  border-radius: 9999px;
}

.button {
  display: inline-flex;
  padding: 5px;
  border: 1px solid var(--gray-400);
  border-radius: 9999px;
  background: transparent;
}

.icon {
  height: 14px;
  width: 14px;
}

@media screen and (max-width: 400px) {
  .icon {
    height: 14px;
    width: 14px;
  }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .icon {
    height: 16px;
    width: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  .icon {
    height: 16px;
    width: 16px;
  }
}

@media screen and (min-width: 960px) {
  .icon {
    height: 16px;
    width: 16px;
  }
}
